@import "tailwindcss";

@layer utilities {
  @keyframes wiggle {
    0%, 20% { transform: rotate(0deg); }
    25%, 35% { transform: rotate(-5deg); }
    40%, 50% { transform: rotate(5deg); }
    55%, 65% { transform: rotate(-5deg); }
    70%, 100% { transform: rotate(0deg); }
  }

  @keyframes wiggle-2 {
    0%, 20% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    30%, 35% { transform: rotate(-3deg); }
    40% { transform: rotate(3deg); }
    45%, 50% { transform: rotate(3deg); }
    55% { transform: rotate(-3deg); }
    60%, 65% { transform: rotate(-3deg); }
    70% { transform: rotate(0deg); }
    75%, 100% { transform: rotate(0deg); }
  }

  .animate-wiggle {
    animation: wiggle 3s ease-in-out infinite;
    animation-delay: 0.2s;
  }

  .animate-wiggle-2 {
    animation: wiggle-2 3s ease-in-out infinite;
    animation-delay: 0.2s;
  }

  .animate-wiggle-2:hover {
    animation-play-state: paused;
  }
}



body {
  background-color: #f8e8d9;
}

